Redirect 301 / http://guides.hexlet.io/
Redirect 301 /bootstrap http://guides.hexlet.io/bootstrap/
Redirect 301 /markdown http://guides.hexlet.io/markdown/
Redirect 301 /ssh http://guides.hexlet.io/ssh/
Redirect 301 /atom-js-setup http://guides.hexlet.io/atom-js-setup/
Redirect 301 /vscode-js-setup http://guides.hexlet.io/vscode-js-setup/
Redirect 301 /typing http://guides.hexlet.io/typing/
Redirect 301 /how-to-search http://guides.hexlet.io/how-to-search/
Redirect 301 /learning http://guides.hexlet.io/learning/
Redirect 301 /development-on-windows http://guides.hexlet.io/development-on-windows/
Redirect 301 /vagrant http://guides.hexlet.io/vagrant/
Redirect 301 /jekyll http://guides.hexlet.io/jekyll/
Redirect 301 /vim http://guides.hexlet.io/vim/
Redirect 301 /ubuntu-linux-in-windows http://guides.hexlet.io/ubuntu-linux-in-windows/
Redirect 301 /virtualization http://guides.hexlet.io/virtualization/
Redirect 301 /docker http://guides.hexlet.io/docker/
Redirect 301 /how-to-learn-sicp http://guides.hexlet.io/how-to-learn-sicp/
